.btn {
    padding: 5px;
    margin: 10px 0;
}

.col {
    display: inline-block;
}

.second-col {
    margin: 10px 0;
}

.d-flex {
    display: flex;
    margin-top: 25px;
}

.l-flex {
    display: flex;
    flex-flow: wrap;
}



h3 {
    margin-top: 0px;
}

tr {
    display: flex;
    justify-content: space-between;
}

td,th {
    width: -webkit-fill-available;
    border: 1px solid rgb(73, 73, 73);
    text-align: center;
}

.car-boxList{
    background-color: white;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    border-spacing: 0px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.input-car{
    width: 185px;
    height: 500px;
}

