
/* Properties */

* {
  margin: 0;
  padding: 0;
}


/* Main content */


table {
 
  border: none;
  background-color: #ffffff;
  margin-bottom: 15px;
  margin-right: 15px;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 15px;
 
}

.btn {
  width: 90px;
  margin: 0 15px;
}

/* Обертка с клавишами */

table div:first-child {
  margin-bottom: 13px;
}

/* Обертка с контентом */

table div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  min-height: 530px;
  min-width: 400px;
  width: 300px;
}

.tableCss {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  padding: 10px;
  margin: 0px 20px;
}

td {
    display: block;
    font-size: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
}

td:first-child {
    color: rgb(224, 55, 13);;
}

tr {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
}