/* Main settings */

body {
    background-image: url(../static/favicon/background_1.png);
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;

}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* BTN */

.btn {
	padding: 0 0 2px;
	font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #000000;
	text-shadow: 1px 1px #C4D0DA;
	border: 1px solid #7C8A93;
	border-top: 1px solid #A1AEB7;
	border-bottom: 1px solid #5D6B75;
	box-shadow:
		inset 0 1px #D8E0E6,
		inset 1px 0 #B7C6D1,
		inset -1px 0 #B7C6D1,
		inset 0 -1px #A1B5C4,
		0 2px #62727E,
		0 3px #5D6B75,
		0 4px 2px rgba(0,0,0,0.4)
	;
	background: -moz-linear-gradient(top,  #becbd6 0%, #8da5b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#becbd6), color-stop(100%,#8da5b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* IE10+ */
	background: linear-gradient(top,  #becbd6 0%,#8da5b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#becbd6', endColorstr='#8da5b7',GradientType=0 ); /* IE6-9 */
	background-color: #A5B8C6;
}
.btn:hover {
	border-top: 1px solid #96A2AB;
	box-shadow:
		inset 0 1px #C0CED7,
		inset 1px 0 #B7C6D1,
		inset -1px 0 #B7C6D1,
		inset 0 -1px #B9C8D3,
		0 2px #62727E,
		0 3px #5D6B75,
		0 4px 2px rgba(0,0,0,0.4);
	background: -moz-linear-gradient(top,  #97adbd 0%, #a8bac8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97adbd), color-stop(100%,#a8bac8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* IE10+ */
	background: linear-gradient(top,  #97adbd 0%,#a8bac8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97adbd', endColorstr='#a8bac8',GradientType=0 ); /* IE6-9 */
	background-color: #A5B8C6;
}
.btn:active {
	top: 3px;
	border: 1px solid #778998;
	border-top: 1px solid #606F7A;
	border-bottom: 1px solid #8296A6;
	background: #92A9BA;
	box-shadow: inset 0 1px 2px #5F7281;
}


/* Burger */

.burger-menu_button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
}
  
.burger-menu_button:hover {
background-color: rgba(255, 255, 255, 0.7);
}
  
.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #200a1c;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
    content: '';
    top: -12px;
}
.burger-menu_lines::after {
    content: '';
    top: 12px;
}


.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;

    background-color: #a19da0;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_link {
    padding: 18px 35px;
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #030303;
    border-bottom: 1px solid #fff;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px  rgb(0, 0, 0);
}

.burger-menu_link5 {
    float: right;
    width: 90%;
    padding: 18px ;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 55, 13);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 400;
    color: #030303;
    border-bottom: 1px solid #fff;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px  rgb(0, 0, 0);
}

.burger-menu_link:hover {
    filter: brightness(0.5);
}
.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
tr {
    background-color: white;
}